<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>regist</title>
</head>
<body>
    <h1>신규 메뉴 등록</h1>
    <form action="/menu/regist" method="post">
      <label>메뉴 이름 : </label><input type = "text" name = "menuName"><br>
      <label>메뉴 가격 : </label><input type = "number" name = "menuPrice"><br>
      <labe>카테고리 : </labe>
      <select name="categoryCode" id="categoryCode"></select><br>
      <label>판매상태 : </label>
      <select name ="orderableStatus">
        <option value ="Y">판매가능</option>
        <option value ="N">판매불가</option>
      </select>
      <input type="submit" value="전송">
    </form>

    <script> //펫치에 url 넘기는건 겟방식으로 요청 , 그때 반환 받는데이터는 json형태로 꺼내오면 꺼내온 데이터를 확인
        fetch('/menu/category')
            .then(res => res.json())
            .then(data => {
                const $categoryCode = document.getElementById('categoryCode');
                for(let index in data) {
                    const $option = document.createElement('option')
                    $option.value = data[index].categoryCode
                    $option.textContent = data[index].categoryName;
                    $categoryCode.append($option);
                }
            });
    </script>
</body>
</html>